{%extends "base.html"%}
{%block title%}Sources{%endblock%}
{%block content%}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Formatting Fun</h1>
          <p class="lead">If you have any issues with formatting come here.</p>
        </div>
      </div>
      <p><span class="badge badge-danger">Big change:</span> Due to recent updates like the implementation of fuzzy matching for all queries there should be no formatting issues anymore. With one exception. When it comes to atomic numbers one should only enter numbers and not numbers and strings. Otherwise this new algorithm should be able to understand your queries and also never give a server error.</p>
{%endblock%}