{%extends "base.html"%}
{%block title%}Sources{%endblock%}
{%block content%}
      <div class="jumbotron">
        <h1 class="display-4">Make Chemistry 10x faster</h1>
        <p class="lead">Welcome to PTsearcher. An easy way to search the periodic table and get information fast.</p>
        <hr class="my-4">
        <p>Using AI aLgoRithMS tO sEarCh tHe PT at lightning speed.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/srchpage" role="button">Get Started</a>
        </p>
      </div>
{%endblock%}