{%extends "base.html"%}
{%block title%}Sources{%endblock%}
{%block content%}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Pricing</h1>
          <p class="lead">Check out this cool pricing structure.</p>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item active">Pricing</li>
        <li class="list-group-item">Pro                     <span class="badge badge-danger">Free</span></li>
        <li class="list-group-item">Enterprise              <span class="badge badge-danger">Free</span></li>
        <li class="list-group-item">Education               <span class="badge badge-danger">Free</span></li>
        <li class="list-group-item">Basic                   <span class="badge badge-danger">Free</span></li>
      </ul>
      <p>This is a free tool. I do not make any money off of it.</p>
{%endblock%}