{%extends "base.html"%}
{%block title%}Sources{%endblock%}
{%block content%}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Sources</h1>
      <p class="lead">All of the sources used for this program.</p>
    </div>
  </div>
  <h3><a href = "https://www.science.co.il/elements/">Source 1:</a> Science and Technology Directory <span class="badge badge-primary">Data</span></h3>
  <p>This is the source I used for the actual data. I tried to use wikipedia for this data however, for some reason beautiful soup was not working well with it. Check it out if you prefer a table view of the elements</p>
  <h3><a href = "https://getbootstrap.com/">Source 2:</a>Bootstrap <span class="badge badge-success">HTML</span></h3>
  <p>If you are wondering why this website looks decent. It is because of bootstrap. It helped me to avoid css for styling and make the site look alright without requiring too much work.</p>
  <h3><a href ="https://www.python.org/">Source 3:</a>Python <small class="text-muted">:)</small><span class="badge badge-dark">Backend</span></h3>
  <p>This was coded in Python(Flask). Most of the logic is coded in it.</p>
  <h3><a href = "https://flask.palletsprojects.com/en/1.1.x/">Source 4:</a>Flask  <span class="badge badge-dark">Backend</span></h3>
  <p>This is the backend I used.</p>
  <h3><a href = "https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Source 5:</a>Beautiful Soup  <span class="badge badge-dark">Backend</span></h3>
  <p>How scraped all of the data into a csv.</p>
{%endblock%}