{%extends "base.html"%}
{%block title%}srchpage{%endblock%}
{%block content%}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Searching page</h1>
          <p class="lead">Enter the number of elements you would like to compare to activate search bar.</p>
        </div>
      </div>
      <form method="POST">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose number of elements to compare: </label>
            <select class="form-control-sm" name= "number" id="exampleFormControlSelect1">
                <option value="0"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <button type="submit" class="btn btn-outline-primary">Activate Search Bar</button>
        </div>
{%endblock%}